/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentralNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentralNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentralNo2-Book.ttf');
  font-weight: 400;
}

/************ Default ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #000 !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
      max-width: 100%;
      padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Navbar ************/
.navbar{
  z-index: 9999;
  background-color: #9c9c9c;
}

.navbar .breadcrumb{
  margin: 0;
  flex: 1;
  flex-wrap: nowrap;
}

.navbar .form {
  
}

@media (max-width: 992px) {
  /* Adjust breadcrumb alignment on smaller screens */
  .breadcrumb {
    display: flex;
  }
}

.logo-img {
  width: 20px;
  height: 20px;
}

.btn- {
  background-color: inherit;
}

/************ GraphCard ************/
.loading {
  padding: 20px;
}

h1 {
  padding: 20px;
  font-weight: 400;
}

.row {
  padding: 0 10px;
}

.feature, .corr {
  width: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 2px solid #ccc;
  border-radius: 15px;
  align-items: center;
}

/************ Sidebar ************/
.sidebar {
  width: 40px;
  background-color: #9c9c9c;
}
      
.sidebar-text{
  padding: 14px 0;
}